@import compass/css3
@import "breakpoint"
@import "mixins"
@import "variables"

@import "reset"
@import "elements/font-family"
@import "elements/elements"
@import "elements/header"
@import "elements/footer"
@import "elements/paragraphs"
@import "elements/blocks"
@import "elements/views"
@import "elements/forms"
@import "elements/node-article"
@import "elements/node-recipe"
@import "elements/node_special_2"
@import "elements/pages"
@import "elements/front"
@import "elements/pages/la_belle_flamande"
@import "elements/pages/actie"
@import "elements/pages/chandelier"

@import "temp"

body
  color: #fff
  background: #000
  font-size: 16px
  line-height: 22px
  overflow-y: scroll
  @include breakpoint($t)
    font-size: 14px
    line-height: 19px
  @include breakpoint($m)
    font-size: 14px
    line-height: 19px    
#main
  background: #fff
  color: #000
  #content
    @include limiter
    position: relative
    z-index: 2
    padding-left: 20px
    padding-right: 20px

.npx-image
  +box-sizing(border-box)
.view-id-recipes
  .npx-image-no
    margin-top: -34px
    @media (min-width: 768px) and (max-width: 1019px)
      margin-top: -2vw
  @media (min-width: 1px) and (max-width: 767px)
    .views-responsive-grid
      > .views-column
        float: none
        margin: 0
        width: 100%
        .npx-image-no
          margin-top: -6vw
  .views-responsive-grid
    > .views-column
      margin-top: 0
      .views-column
        position: relative
    > .views-column + .views-column
      margin-top: 50px
      @media all and (min-width: 1px) and (max-width: 1000px)
        margin-top: 5vw
    > .views-column + .views-column + .views-column
      margin-top: -50px
      @media all and (min-width: 1px) and (max-width: 1000px)
        margin-top: -5vw
