.page-node-69
  #header
    #block-views-top-paragraph-block
      margin-bottom: 20px
      padding-bottom: 60px
  .node-special-page-type-2.view-mode-full
    margin-top: -28px
  .entity-paragraphs-item
    margin-top: -57px
  // .group-right
  //   > .paragraphs-items-field-right-column-paragraph
  //     > .field-name-field-right-column-paragraph
  //       > .field-items
  //         > .field-item
  //           overflow: hidden
  //           margin-top: -95px
  //         > .field-item:nth-child(1)
  //           margin-top: 0%
  // .group-left
  //   > .paragraphs-items-field-left-column-paragraph
  //     > .field-name-field-left-column-paragraph
  //       > .field-items
  //         > .field-item
  //           overflow: hidden
  //           margin-top: -95px
  .node-special-page-type-2.view-mode-full
    .group-left
      float: left
      width: 50%
    .group-right
      float: left
      width: 50%
      margin-top: 27px
    @media all and (min-width: 1px) and (max-width: 768px)
      .group-left
        float: none
        width: 100%
      .group-right
        float: none
        width: 100%
        margin-top: -15%
  .group-left
    .field-name-field-left-column-paragraph
      > .field-items
        > .field-item:nth-child(1)
          color: #fff
  .group-right
    .field-name-field-right-column-paragraph
      > .field-items
        > .field-item:nth-child(2)
          color: #fff
