body
  font-family: 'Open Sans Condensed'
  font-weight: 300
strong, .acties-text, #block-system-main-menu a.active
  font-family: 'Open Sans Condensed'
  font-weight: 700
.amatic, h1, h2, h3, .title, .quote, .button, .title-recipe, .acties-title, .ebutton,
.view-id-recipes ul + input,
.view-id-recipes ul + input + input,
.page-node-62 #main label,
.form-actions input.form-submit,
.webform-client-form input,
.webform-client-form textarea,
.block-mailchimp-signup input,
.views-field-field-title h1,
#views-exposed-form-recipes-block,
body .view-id-recipes .ms-options-wrap button,
body .view-id-recipes .ms-options-wrap > .ms-options > ul span, 
input#edit-submit-distributors
  font-family: 'Amatic SC'
  font-weight: 700
