body
  font-family: 'Open Sans Condensed'
  font-weight: 300
strong, .acties-text, #block-system-main-menu a.active
  font-family: 'Open Sans Condensed'
  font-weight: 700
.amatic, h2.USUN, h3.USUN, .USUNquote, .title-recipe, .acties-title, .USUNebutton,
.USUN.form-actions input.form-submit,
.USUN.block-mailchimp-signup input,
  font-family: 'Amatic SC'
  font-weight: 700




body.page-node-70 #header #block-views-top-paragraph-block .views-field-field-title h1.title
  font-family: 'Amatic SC'
  font-weight: 700
  font-size: 34px
  line-height: 34px
h1
  font-family: 'Open Sans'
