.form-item
  margin: 0 0 20px
  @include breakpoint($m)
    margin: 0 0 15px
input.form-text,
input.form-email,
textarea
  background: #fff
  border: 1px solid #333
  width: 100%
  +box-sizing(border-box)
  color: #000
  padding-left: 20px
  +border-radius(2px)
input.form-text,
input.form-email,
.block-mailchimp-signup input
  line-height: 30px
  height: 32px
  font-size: 16px
  font-family: "Open Sans Condensed"
  font-weight: 300
  @include breakpoint($m)
    font-size: 18px
textarea
  line-height: 30px
  font-size: 20px
  @include breakpoint($m)
    font-size: 18px

input::-webkit-input-placeholder,
  color: #000 !important
  opacity: 1
input:-moz-placeholder
  color: #000 !important
  opacity: 1
input::-moz-placeholder
  color: #000 !important
  opacity: 1
input:-ms-input-placeholder
  color: #000 !important
  opacity: 1
textarea::-webkit-input-placeholder,
  color: #000 !important
  opacity: 1
textarea:-moz-placeholder
  color: #000 !important
  opacity: 1
textarea::-moz-placeholder
  color: #000 !important
  opacity: 1
textarea:-ms-input-placeholder
  color: #000 !important
  opacity: 1


textarea
  height: 200px
.form-actions
  text-align: right
  @include link-style
  clear: both
  padding-top: 0px
  .extra_div
    display: inline-block
    &::after
      @include clearfix
  input.form-submit
    color: #000
    display: block
    float: right
    line-height: 30px
    padding: 0 40px
    background: #fff
    border: 1px solid #000
    position: relative
    z-index: 1
    font-size: 12px
    font-weight: 700
    font-family: "Open Sans"
    &:hover
      background-color: #000
      color: #fff
input#edit-submit-distributors,
input#edit-submit-search-by-zip
  display: block
  float: right
  line-height: 30px
  padding: 0 40px
  background: #fff
  color: #000
  border: 1px solid #000
  position: relative
  z-index: 1
  font-family: "Open Sans"
  font-weight: 700
  font-size: 12px
  @include breakpoint($m)
    padding: 0 20px
  &:hover
    background-color: #000
    color: #fff
  // color: #fff
  // display: block
  // float: right
  // line-height: 30px
  // padding: 0 0px
  // height: 30px
  // width: 100px
  // background: #000 url('i/szukaj.png') no-repeat center center
  // border: none
  // position: relative
  // z-index: 1
  // text-indent: -9990px
  // &:hover
  //   opacity: 0.8
  // @media all and (min-width: 460px) and (max-width: 600px)
  //   width: 80px
  // @media all and (min-width: 1px) and (max-width: 459px)
  //   width: 50px



.webform-client-form
  max-width: 560px
  margin: 40px auto 30px

#mailchimp-signup-subscribe-block-signup-form-dutch-form
  max-width: 560px
  margin: 40px auto 30px
  #edit-actions
    text-align: right
    input
      float: right
      +border-radius(0)
      padding: 0 70px

#mc_embed_signup
  display: none
  #mc-embedded-subscribe-form
    max-width: 560px
    margin: 40px auto 30px
    .mc-field-group
      clear: left
      min-height: 30px
      padding-bottom: 0
      position: relative
      width: 100%
      input
        border: 2px solid #333
        margin: 0 0 20px
    .action-form
      text-align: right
      input#mc-embedded-subscribe.button
        background: #000
        float: right
        +border-radius(0)

.view-id-recipes
  .ms-options-wrap
    > .ms-options
      > ul
        @include ulReset
        padding: 20px
  .ms-options-wrap
    button
      background: transparent url('i/recipes-button.png') no-repeat right center
      font-size: 12px
      font-family: "Open Sans"
      font-weight: 700
      padding-left: 20px
      &:after
        display: none !important
    > .ms-options
      > ul
        label
          padding: 0 !important
        input[type="checkbox"]
          left: -9990px
          margin-right: 5px
          position: absolute
          top: 12px
          &:after
            position: absolute
            lefft: 0
            top: 0
            width: 100%
            height: 100%
            background: red
            z-index: 100
            display: block
            content: " "
        span
          display: inline-block
          background: transparent url("i/check-out.png") no-repeat scroll left center
          cursor: pointer
          line-height: 20px
          margin: 0 0 0px
          padding: 5px 0 5px 30px
          font-size: 16px
          font-family: "Open Sans Condensed"
          font-weight: 300
        input:checked + span
          background: transparent url("i/check-on.png") no-repeat scroll left center





  ul + input,
  ul + input + input
    display: inline-block
    text-align: center
    margin: 0 0 20px 20px
    padding: 0 20px
    text-decoration: none
    text-indent: 0
    text-transform: uppercase
    color: #000
    background: #fff
    font-size: 12px
    line-height: 30px
    font-family: "Open Sans"
    font-weight: 700
    +box-sizing(border-box)
    border: 1px solid #000
    @include breakpoint($t)
      font-size: 17px
      line-height: 30px
    @include breakpoint($m)
      font-size: 17px
      line-height: 30px
    &:hover
      background: #000
      color: #fff
  #edit-submit-recipes,
  #edit-reset
    display: none

.block-mailchimp-signup
  label
    display: none

.ms-options-wrap > .ms-options > ul li.selected label, .ms-options-wrap > .ms-options > ul label:hover
  background-color: transparent
