.node-type-special-page-type-2
  .entity-paragraphs-item
    margin-top: -57px
    padding: 0 0px
    .field-item
      margin-top: 0
  .node.view-mode-full
    margin-top: -25px
    font-size: 18px
    line-height: 150% 
  .g3
    position: relative
    z-index: 1
    .field-items
      position: relative
    .div-table-outer
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      z-index: 1
      .div-table
        width: 100%
        .div-cell
          padding: 0 40px
          font-size: 20px
          line-height: 24px
          @include breakpoint($t)
            font-size: 18px
            line-height: 22px
          @include breakpoint($m)
            font-size: 18px
            line-height: 22px
          p
            margin: 0
          p + p
            margin-top: 25px
  .group-left
    float: left
    width: 50%
  .group-right
    float: left
    width: 50%
    margin-top: 103px
  @media all and (min-width: 1px) and (max-width: 768px)
    .group-left
      float: none
      width: 100%
    .group-right
      float: none
      width: 100%
      margin-top: -15%

  .entity-paragraphs-item
    margin-top: -60px
    @media all and (min-width: 1000px)
      margin-top: -60px
    @include breakpoint($t)
      margin-top: -5vw
    @include breakpoint($m)
      margin-top: -14vw
    &.paragraphs-item-intro-text
      margin: 0
      padding: 80px 40px 60px
      h2
        font-size: 32px
        line-height: 120%
        margin: 0 0 10px
  .node.view-mode-full.actie
    .styles-white-font-color
      font-size: 20px
      line-height: 24px
      @include breakpoint($t)
        font-size: 18px
        line-height: 22px
      @include breakpoint($m)
        font-size: 18px
        line-height: 22px
      h2
        color: #fff
        padding: 0 0 0 0
        background-image: none
        font-size: 60px
        line-height: 60px
        margin: 0 0 10px
        font-weight: 300
        @include breakpoint($t)
          font-size: 44px
          line-height: 44px
        @include breakpoint($m)
          font-size: 44px
          line-height: 44px
          font-size: 42px
          line-height: 42px

  .group-footer
    .paragraphs-item-svg-big-alternative
      position: relative
      .field-name-field-upper-layer-with-image
        position: absolute
        left: 0
        top: 0
        width: 100%
        z-index: 10
        margin-top: -100px
        pointer-events: none
        @media all and (min-width: 1px) and (max-width: 960px)
          margin-top: -7vw
