.page-node-62,
.page-zip
  .views-exposed-widgets
    margin-bottom: 0
  .entity-paragraphs-item
    margin-top: 0
    width: 100%
    overflow: hidden
    max-width: none
    padding: 0
  #main
    #content
      width: 100%
      overflow: hidden
      max-width: none
      padding: 0
      .view-id-distributors,
      .view-id-search_by_zip
        .view-filters
          background: #ebebed url('i/marmur.jpg') no-repeat center top / cover
          padding: 40px 0px
          form
            @include limiter
            padding: 0 30px
            .views-exposed-widget
              margin-bottom: 0
            #edit-combine-wrapper
              label
                display: inline-block
                margin-right: 14px
                font-family: "Open Sans"
                font-weight: 700
                @media all and (min-width: 460px) and (max-width: 760px)
                  margin-right: 10px
                @media all and (min-width: 1px) and (max-width: 459px)
                  margin-right: 5px
              .views-widget
                display: inline-block
                input#edit-combine
                  width: 200px
                  @media all and (min-width: 640px) and (max-width: 760px)
                    width: 160px
                  @media all and (min-width: 1px) and (max-width: 639px)
                    width: 110px
            #edit-distance-wrapper
              > label
                display: inline-block
                margin-right: 14px
                margin-left: 14px
                font-family: "Open Sans"
                font-weight: 700
                @media all and (min-width: 640px) and (max-width: 760px)
                  margin-right: 10px
                @media all and (min-width: 1px) and (max-width: 639px)
                  margin-right: 5px
                @media all and (min-width: 1px) and (max-width: 600px)
                  margin-left: 0
              .views-widget
                display: inline-block
                input#edit-distance-postal-code
                  width: 100px
                  @media all and (min-width: 640px) and (max-width: 760px)
                    width: 100px
                  @media all and (min-width: 1px) and (max-width: 639px)
                    width: 100px

          input#edit-submit-distributors,
          input#edit-submit-search-by-zip
            margin: 0 0 0 30px
            @media all and (min-width: 640px) and (max-width: 760px)
              margin: 0 0 0 10px
            @media all and (min-width: 1px) and (max-width: 639px)
              margin: 0 0 0 5px
        .view-content
          @include limiter
          padding: 0 30px
          table
            width: 100%
            td
              padding: 0 10px 30px
  .ajax-progress-throbber
    display: none
  .view-id-distributors,
  .view-id-search_by_zip
    .views-column
      display: inline-block
      width: 24%
      vertical-align: top
      @media all and (min-width: 480px) and (max-width: 960px)
        width: 49%
      @media all and (min-width: 1px) and (max-width: 479px)
        width: 100%
        display: block
  .view-id-search_by_zip
    .view-filters
      #edit-distance-wrapper
        .form-item-distance-country,
        .form-item-distance-search-distance,
        .form-item-distance-search-units,
          display: none
        .form-item-distance-postal-code
          label
            display: none
  .views-exposed-form
    .views-exposed-widget
      float: left
      @media all and (min-width: 1px) and (max-width: 600px)
        float: none
        padding-bottom: 15px
  input#edit-submit-distributors,
  input#edit-submit-search-by-zip
    @media all and (min-width: 1px) and (max-width: 600px)
      float: left
