.entity-paragraphs-item
  @include limiter
  padding-left: 0
  padding-right: 0
  margin-top: 40px
  @include breakpoint($d)
    padding-left: 0
    padding-right: 0
  @include breakpoint($t)
    margin-top: 30px
    padding-left: 0
    padding-right: 0
  @include breakpoint($m)
    margin-top: 20px
    padding-left: 0
    padding-right: 0
.paragraphs-item-svg-small-link
  position: relative
  z-index: 1
  .field-name-field-link-to-node
    a
      display: block
      width: 100%
      height: 100%
      position: absolute
      left: 0
      top: 0
      z-index: 2
      text-indent: -99990px

.paragraphs-item-text-on-image,
.paragraphs-item-responsive-text-on-image
  position: relative
  .g3
    position: relative
  .field-name-field-background-image
    position: absolute
    right: 0
    top: 0
    z-index: 10
    pointer-events: none
    display: block
    img
      position: relative
      z-index: 10
